!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title C'est trop bien ici
    %meta{:charset => "UTF-8"}/
  %body
    %img{:src => "/photo.jpg"}/
    %h1 Ryad Benattou
    %table
      %caption Curriculum vitae
      %thead
        %tr
          %th Annee
          %th Enseignement
          %th Specialite
      %tr
        %td 2014-2017
        %td Ecole d'ingenieur-ENSIIE
        %td Econometrie
      %tr
        %td 2012-2014
        %td CPGE-Lycee Pierre Gilles de Gennes
        %td Mathematiques-Physique-Sciences de l'ingenieur
      %tr
        %td 2012
        %td Institut Emmanuel D'Alzon
        %td Scientifique Option Sciences de l'Ingenieur et Europeenne Allemand
